<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ctorcru.upv.techcommit_3a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- BLUETOOTH PERMISSION -->
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
 Needed only if your app looks for Bluetooth devices.
             If your app doesn't use Bluetooth scan results to derive physical
             location information, you can strongly assert that your app
             doesn't derive physical location.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
      devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
           devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- bibo01 : hardware option -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Pantallas.Pagina_Registro"
            android:exported="false"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Pre_Login_Registro"
            android:exported="false"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Vista_Mapa"
            android:exported="false"
            android:label="@string/title_activity_vista_mapa"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Mi_Perfil"
            android:exported="false"
            android:label="@string/title_activity_mi_perfil"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Mis_Dispositivos"
            android:exported="false"
            android:label="@string/title_activity_mis_dispositivos"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar"></activity>
        <activity
            android:name=".Pantallas.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantallas.Pagina_QR"
            android:exported="false"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Scanner_QR"
            android:exported="false"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantallas.Recuperar_Contrasena"
            android:exported="false"
            android:theme="@style/Theme.TechCommit_3A.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name=".ServicioEscuchaBeacons"
            android:foregroundServiceType="location"/>
    </application>

</manifest>